## assignment no 2

## String based Assignnment Problem

In [1]:
# 1 reverse string
str1= "hello world"[::-1]
print(str1)

dlrow olleh

In [2]:
#2 Check if a string is a palindrome.
string =input("enter a string")

if(string==string[::-1]):
    print("the string is palinndrome")
else:
    print("the string is not palindrome")

enter a stringaditya
the string is not palindrome

In [7]:
#Convert a string to uppercase.
string=input("enter a string:" " ")

string=string.upper()
print(string)

enter a string: aditya
ADITYA

In [8]:
#Convert a string to lowercase.\
string=input("enter a string:" " ")

string=string.lower()
print(string)

enter a string: ADITYa
aditya

In [9]:
#Count the number of vowels in a string.
string = str(input("enter the sentence:"))
vowels = "aeiouAEIOU"

count = sum(string.count(vowel) for vowel in vowels)
print(count)

enter the sentence:aditya
3

In [3]:
#Count the number of consonants in a string.
#consonants = anny letter except a,e,i,o,u
def consonant(string):
    consonant_count=0
    
    consonants="bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    
    for i in string:
        if i in consonants:
            consonant_count+=1
            
    return consonant_count

input_string="aditya tukaram gavate"
print(consonant(input_string))

10

In [11]:
#Remove all whitespaces from a string.
string = (input("Enter the sentence:"))
    
string = string.replace(" ","");  
          
print("String after removing all the white spaces : " + string);

Enter the sentence:aditya tukaram gavate
String after removing all the white spaces : adityatukaramgavate

In [20]:
#Find the length of a string without using the `len()` function.
input_string=input("enter the string:"" ")

count = 0


for char in input_string:  
    count += 1


print("The length of the string is:", count)

enter the string: aditrya
The length of the string is: 7

In [33]:
#Check if a string contains a specific word.
sentence=input("enter the sentence:")
word= input("enter the specific word:")

if word in sentence :
    print("the sentence contain specific word")
else :
    print("the sentence do not contain specific word")

enter the sentence:aditya tukaram gavate
enter the specific word:gavate
the sentence contain specific word

In [34]:
#Replace a word in a string with another word.
sentence=input("enter the sentence:")
word=input("enter the word you want to replace:")
new_word=input("enter the new word:")

new_sentence=sentence.replace(word,new_word)
print("the new sentence:",new_sentence)

enter the sentence:aditya tukaram gavate
enter the word you want to replace:tukaram
enter the new word:
the new sentence: aditya  gavate

In [3]:
#Count the occurrences of a word in a string.
def occurrneces(input_string,word):
    count=0
    
    words=input_string.split()
    
    for i in words:
        if i == word:
            count+=1
    return count


input_str= "aditya tukaram gavate"
word= "aditya"

print(occurrneces(input_str,word))
print(occurrneces("aditya tukaram gavate","gavate"))

1
1

In [6]:
#Find the first occurrence of a word in a string.
def occurrence(input_string,word):
    index = input_string.find(word)
    
    
    if index ==-1:
        return none
    
    return index

input_string="this is a sentence for the first occurrence"
word="for"
print(occurrence(input_string,word))

19

In [8]:
#Find the last occurrence of a word in a string.
def last_occurrence(input_string,word):
    index=input_string.rfind(word)
    
    
    if index== -1:
        return none
    
    return index

input_string="this is a sentence for the last occurence"
word="last"
print(last_occurrence(input_string,word))

27

In [15]:
#Split a string into a list of words.
def split_sentence(sentence):
    
    new_sentence= sentence.split()
    
    return new_sentence

sentence="this is an example"
print(split_sentence(sentence))

['this', 'is', 'an', 'example']

In [4]:
#oin a list of words into a string.
def join_words_into_string(words_list):

    joined_string = ' '.join(words_list)

    return joined_string

words = ["my","name","is","aditya"]
text = join_words_into_string(words)
print("Joined string:", text)

Joined string: my name is aditya

In [5]:
#Convert a string where words are separated by spaces to one where words are separated by underscores.
def underscore(sentence):
    underscore_separated=sentence.replace(" ","_")
    
    return underscore_separated

sentence=input("write a sentence:")
converted_sentence=underscore(sentence)
print(converted_sentence)

write a sentence:welcome to PW skills
welcome_to_PW_skills

In [9]:
#Check if a string starts with a specific word or phrase.
def starting(input_string,word):
    is_start=input_string.startswith(word)
    
    return is_start

input_string="welcome to PW skills"
word="welcome"
result=starting(input_string,word)
if result:
    print("the sentence starts with specific word")
else:
    print("the sentence doesn't start with specifc word")

the sentence starts with specific word

In [11]:
#Check if a string ends with a specific word or phrase.
def ending(input_string,word):
    is_end=input_string.endswith(word)
    
    return is_end

input_string="welcome to PW skills"
word="welcome"
result=ending(input_string,word)
if result:
    print("the sentence ends with specific word")
else:
    print("the sentence doesn't ends with specifc word")

the sentence doesn't ends with specifc word

In [17]:
#convert a string to title case (e.g., "hello world" to "Hello World").
def convert_to_title(input_string):
    title=input_string.title()
    
    return title

input_string="hello world"
new_title=convert_to_title(input_string)
print("Title:",new_title)

Title: Hello World

In [20]:
#Find the longest word in a string.
def longest_word(sentence):
    words=sentence.split()
    
    longest_word=" "
    max_length=0
    
    
    for i in words:
        if len(i)> max_length:
            max_length=len(i)
            longest_word=i
            
    return longest_word

sentence="this is a example fo the longest wrod in string"
print(longest_word(sentence))

example

In [22]:
#find the shortest word in a string.
def find_shortest_word(text):
    words = text.split()

    shortest_word = None
    min_length = float('inf')  

    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word

    return shortest_word

text = "This is an example sentence with some short words."
shortest_word = find_shortest_word(text)
print("Shortest word:", shortest_word)

Shortest word: is

In [24]:
#Reverse the order of words in a string.

string = "aditya tukaram gavate"

s = string.split()[::-1]
l = []
for i in s:
    l.append(i)

print(" ".join(l))

gavate tukaram aditya

In [26]:
#Check if a string is alphanumeric.
def alphanumeric(text):
    return text.isalnum()

text="aditya72"
result=alphanumeric(text)
if result:
    print("the text is alphanumeric")
else:
    print("the text is not alphanumeric")

the text is alphanumeric

In [29]:
#Extract all digits from a string.
def extract_num(text):
    digits=" "
    
    for i in text:
        if i.isdigit():
            
            digits+=i
    return digits

text="aditya 7234"
print(extract_num(text))

 7234

In [58]:
#Extract all alphabet from string
def extract(text):
    alpha=' '
    
    for i in text:
        if i.isalpha():
            
            alpha+=i
    return alpha

text="aditya2341"
print(extract(text))

 aditya

In [60]:
#Count the number of uppercase letters in a string.
def count_uppercase(text):
    upper=' '
    
    for i in text:
        if i.isupper():
            upper+=i
    return upper

word="Aditya Gavate"
print(count_uppercase(word))

 AG

In [74]:
#Count the number of lowercase letters in a string.
def count_lower(text):
    
    lower=' '
    
    for i in text:
        if i.islower():
            lower+=i
    return lower

word="Aditya Gavate"
print(count_lower(word))
print(len(i))

 dityaavate
6

In [62]:
#Swap the case of each character in a string.
def swap_string(text):
    text=text.swapcase()
    return text

text="AdityaGavate"
print(swap_string(text))

aDITYAgAVATE

In [73]:
#Remove a specific word from a string.
def remove(sentence,word):
    sentence=sentence.replace(word,'')
    return sentence

sentence="aditya gavate"
word="gavate"
print(remove(text,word))

aditya

In [75]:
#Check if a string is a valid email address.
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  
    if re.match(pattern, email):
        return True
    else:
        return False

email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [77]:
#Extract the username from an email address string.
def extract(email):
    username=email.split('@')[0]
    return username

email="adityagavate@gmail.com"
print(extract(email))

adityagavate

In [78]:
#Extract the domain name from an email address string.
def domain(email):
    domain=email.split('@')[1]
    return domain

email="adityagavate@gmail.com"
print(domain(email))

gmail.com

In [82]:
#Replace multiple spaces in a string with a single space.
# using str.split and str.join
def replace(string):
    new_string=' '.join(string.split())
    return new_string

string="aditya    gavate"
print(replace(string))

aditya gavate

In [85]:
#Check if a string is a valid URL.
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [86]:
#Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [91]:
#Find the frequency of each character in a string.
def character_freq(input_string):
    frequency= {}
    
    for char in input_string:
        if char in frequency:
            frequency[char]+=1
        else:
            frequency[char]=1
        
    return frequency

input_string="aditya gavate"

print(character_freq(input_string))

{'a': 4, 'd': 1, 'i': 1, 't': 2, 'y': 1, ' ': 1, 'g': 1, 'v': 1, 'e': 1}

In [94]:
#Remove all punctuation from a string.
import string

def remove_punctuation(input_string):
    
    translator = str.maketrans("", "", string.punctuation)

    clean_string = input_string.translate(translator)

    return clean_string

input_str = "Hello, world! How's it going?"

cleaned_str = remove_punctuation(input_str)

print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [96]:
#Check if a string contains only digits.
def contains_only_digits(input_string):

    return input_string.isdigit()

string1 = "12345"
string2 = "Hello123"
string3 = "456.789"

result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)


print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'Hello123' contains only digits: False
'456.789' contains only digits: False

In [97]:
#Check if a string contains only alphabets.
def contains_only_alphabets(input_string):
    return input_string.isalpha()


string1 = "Hello"
string2 = "Hello123"
string3 = "12345"


result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)


print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Hello' contains only alphabets: True
'Hello123' contains only alphabets: False
'12345' contains only alphabets: False

In [98]:
#Convert a string to a list of characters.
def string_to_list(input_string):
    char_list = list(input_string)
    return char_list


input_str = "Hello, world!"

char_list = string_to_list(input_str)

print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hello, world!
List of characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!']

In [10]:
#Check if two strings are anagrams.
def check_anagram(s1,s2):
    
    if sorted(s1)==sorted(s2):
        print("the words are anagram")
    else :
        print("the words are not anagram")
        
s1= "listen"
s2= "silent"
check_anagram(s1,s2)

the words are anagram

In [11]:
#Encode a string using a Caesar cipher.
def are_anagrams(str1, str2):
    # Remove spaces and convert strings to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Sort the characters in both strings and compare
    return sorted(str1) == sorted(str2)

# Example strings
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

# Check if strings are anagrams
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

# Print the results
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

In [12]:
#Encode a string using a Caesar cipher.
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [13]:
#Decode a Caesar cipher encoded string.
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "lopp, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [17]:
#Find the most frequent word in a string.
import re
from collections import Counter

def most_frequent_word(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words
    words = clean_string.split()

    # Use Counter to count word frequencies
    word_counter = Counter(words)

    # Find the most common word
    most_common_word = word_counter.most_common(1)[0][0]




    return most_common_word

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find the most frequent word
most_common = most_frequent_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: hello

In [18]:
#Find all unique words in a string.
import re

def unique_words(input_string):
    # Remove punctuation and convert to lowercase
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    # Split the string into words and convert to a set for uniqueness
    words = set(clean_string.split())

    return words

# Example string
input_str = "Hello world, hello there! How's the world?"

# Find unique words
unique_word_set = unique_words(input_str)

# Print the result
print("Unique words:", unique_word_set)

Unique words: {'the', 'hows', 'there', 'hello', 'world'}

In [19]:
#Count the number of syllables in a string.
import re

def count_syllables(word):
    # Count vowel groups using regular expression
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

# Example words
word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [20]:
#Check if a string contains any special characters.
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    # Use the search() method to find a match
    match = pattern.search(input_string)

    # Return True if a match is found, False otherwise
    return bool(match)

# Example strings
string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

# Check if strings contain special characters
result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

# Print the results
print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [21]:
#Remove the nth word from a string.
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is within a valid range
    if n >= 1 and n <= len(words):
        # Remove the nth word by excluding it from the words list
        removed_word = words.pop(n - 1)

        # Join the remaining words to form the modified string
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

# Example string and n value
input_str = "This is an example sentence to test the function."
n_value = 4

# Remove the nth word
modified_str, removed_word = remove_nth_word(input_str, n_value)

# Print the results
print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [22]:
#Convert a CSV string to a list of lists.
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.split('\n')

    # Initialize an empty list to store the result
    result = []

    for line in lines:
        # Split each line into fields using comma as the delimiter
        fields = line.split(',')

        # Append the fields to the result list as a row
        result.append(fields)

    return result

# Example CSV string
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

# Convert CSV string to a list of lists
list_of_lists = csv_string_to_list(csv_data)

# Print the result
for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

## List based practice problem :

In [24]:
#Create a list with integers from 1 to 10.
nums = range(1,11)
print(list(nums))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
#Find the length of a list without using the len() function.
def count_len(input_list):
    count=1
    for i in input_list:
        count+=1
        
    return count

my_list = [10, 20, 30, 40, 50]

length = count_len(my_list)
print("the length of list:",length)

the length of list: 6

In [33]:
#Append an element to the end of a list.
my_list=[1,2,3,4,5,6,7]

new_element= 8

my_list.append(new_element)
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [34]:
#Insert an element at a specific index in a list.
my_list=[1,2,3,4,5,6,7]

new_element= 3

my_list.insert(2,new_element)

print(my_list)

[1, 2, 3, 3, 4, 5, 6, 7]

In [35]:
#Remove an element from a list by its value.
my_list = [10, 20, 30, 40, 50]

element_to_remove = 30

my_list.remove(element_to_remove)

print("Updated list:", my_list)

Updated list: [10, 20, 40, 50]

In [37]:
#Remove an element from a list by its index.
my_list = [10, 20, 30, 40, 50]

my_list.pop(3)  #using pop function

print(my_list)

[10, 20, 30, 50]

In [38]:
#Check if an element exists in a list.
my_list = [10, 20, 30, 40, 50]

element = 30
 
if element in my_list:
    print("the element exist in list")
else:
    print("the element does not exist in list")

the element exist in list

In [51]:
#Find the index of the first occurrence of an element in a list.
my_list = [10, 20, 30, 40, 50]

element=30

index=my_list.index(element)

print(my_list.index(element))
print(f"the element {element} is {index}")

2
the element 30 is 2

In [52]:
#Count the occurrences of an element in a list.
my_list = [10, 20,30, 30, 30, 40, 50]

element=30

count=my_list.count(element)

print(my_list.count(element))
print (f"the element {element} occures {count}")

3
the element 30 occures 3

In [55]:
#Reverse the order of elements in a list.
my_list=[1,2,3,4,5,6,7,8,9]

my_list.reverse()

print(my_list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [56]:
#Sort a list in ascending order.
my_list = [50, 10, 30, 40, 20]

my_list.sort()

print(my_list)

[10, 20, 30, 40, 50]

In [58]:
#Sorted a list in descending order
my_list = [50, 10, 30, 40, 20]

my_list.sort(reverse=True)

print(my_list)

[50, 40, 30, 20, 10]

In [76]:
#Create a list of even numbers from 1 to 20.
even_numbers = [ x for x in range(2, 21, 2)]

print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [77]:
#Create a list of odd numbers from 1 to 20.
odd_numbers = [x for x in range(1, 21, 2)]

print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [236]:
# Find the sum of all elements in a list.
my_list = [50, 10, 30, 40, 20]

total= sum(my_list)

print("the sum of the list",total)

the sum of the list 150

In [81]:
#Find the maximum value in a list.
my_list = [50, 10, 30, 40, 20]

max_value=max(my_list)

print("the maximum value of list:",max_value)

the maximum value of list: 50

In [83]:
#Find the minimum value in a list.
my_list = [50, 10, 30, 40, 20]

min_value=min(my_list)

print("the minimum value of list:",min_value)

the minimum value of list: 10

In [86]:
#Create a list of squares of numbers from 1 to 10.
square= [x**2 for x in range (1,11)]

print("the squares:",square)

the squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [93]:
#Create a list of random numbers.
import random

random_integers = [random.randint(1, 100) for _ in range(10)]

print(random_integers)

[27, 90, 80, 73, 77, 46, 77, 23, 77, 52]

In [101]:
#Remove duplicates from a list.
my_list = [10, 20, 30, 20, 40, 10, 50, 30]

remove = list(set(my_list))

print(remove)

[40, 10, 50, 20, 30]

In [106]:
#Find the common elements between two lists.

def common_member(a, b):
    l1= set(a)
    l2 = set(b)

    if (l1 & l2):
        print(l1 & l2)
    else:
        print("No common elements")


a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
common_member(a, b)

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
common_member(a, b)

{5}
No common elements

In [112]:
#Find the difference between two lists.
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

difference = list(set(list1).difference(list2))

print("the difference between two lists are" ,difference)

the difference between two lists are [20, 10]

In [114]:
#Merge two lists.
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

merge_list = list1 + list2
print(merge_list)

[10, 20, 30, 40, 50, 30, 40, 50, 60, 70]

In [116]:
#Multiply all elements in a list by 2.
my_list = [10, 20, 30, 40, 50]

new_list=[x*2 for x in  my_list]

print("multiplied list",new_list)

multiplied list [20, 40, 60, 80, 100]

In [121]:
#Filter out all even numbers from a list.
my_list = [11, 12, 13, 14, 15]

num=[]

for x in my_list:
    if x%2 == 0:
        num.append(x)
    
print(num)

[12, 14]

In [123]:
#Convert a list of strings to a list of integers.
string_list = ["10", "20", "30", "40", "50"]


integer_list = [int(x) for x in string_list]


print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

In [125]:
#Convert a list of integers to a list of strings.
integer_list = [10, 20, 30, 40, 50]

string_list= str(integer_list)

print(string_list)

[10, 20, 30, 40, 50]

In [128]:
#Flatten a nested list.
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [129]:
#Create a list of the first 10 Fibonacci numbers.
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(2)

# Print the list of Fibonacci numbers
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

In [130]:
#Check if a list is sorted.
# Function to check if a list is sorted in ascending order
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [10, 20, 30, 40, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [131]:
#Rotate a list to the left by n positions.
# Function to rotate a list to the left by n positions
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [132]:
#Rotate a list to the right by n positions.
# Function to rotate a list to the right by n positions
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [133]:
#Create a list of prime numbers up to 50.
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True

# Create a list of prime numbers up to 50
prime_numbers = [num for num in range(2,30) if is_prime(num)]

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [134]:
#Split a list into chunks of size n.
# Create a list of prime numbers up to 50 using Sieve of Eratosthenes algorithm
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [135]:
#Find the second largest number in a list.
my_list = [10, 5, 20, 15, 30, 25]

# Remove duplicates and sort the list in ascending order
sorted_list = sorted(set(my_list))

# Find the second largest number
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

In [136]:
#Replace every element in a list with its square.
my_list = [2, 4, 6, 8, 10]

squared_list= [x**2 for x in my_list]

print(squared_list)

[4, 16, 36, 64, 100]

In [138]:
#Convert a list to a dictionary where list elements become keys and their indices become values.
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Convert list to dictionary using dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

# Print the resulting dictionary
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [139]:
#Shuffle the elements of a list randomly.
import random


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Shuffle the list randomly
random.shuffle(my_list)

# Print the shuffled list
print("Shuffled list:", my_list)

Shuffled list: [2, 8, 1, 5, 7, 10, 6, 3, 9, 4]

In [140]:
#Create a list of the first 10 factorial numbers.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

# Print the list of factorial numbers
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [141]:
#Check if two lists have at least one element in common.
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [142]:
#Remove all elements from a list.
my_list = [1, 2, 3, 4, 5]

my_list.clear()

# Print the empty list
print("Empty list:", my_list)

Empty list: []

In [144]:
#Replace negative numbers in a list with 0.
my_list = [10, -5, 20, -15, 30, -25]

for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

# Print the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

In [149]:
my_list = [10, -5, 20, -15, 30, -25]

for i in range(len(my_list)):
    print(i)

0
1
2
3
4
5

In [150]:
#Convert a string into a list of words.
my_string = "Hello, this is a sample sentence."

new_list=my_string.split()

print(new_list)

['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [152]:
#Convert a list of words into a string.
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

my_string=' '.join(word_list)

print(my_string)

Hello, this is a sample sentence.

In [153]:
#create a list of the first n powers of 2.
n = 5

power_list= [2**i for i in range(n)]

print(power_list)

[1, 2, 4, 8, 16]

In [155]:
#Find the longest string in a list of strings.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

longest_string=" "
for s in string_list:
    if len(s) > len(longest_string):
        longest_string=s
    
print("the longest string:",longest_string)

the longest string: elderberry

In [156]:
#find the shortest string in a list of strings.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: date

In [157]:
#Create a list of the first n triangular numbers.
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [158]:
#Check if a list contains another list as a subsequence.
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [160]:
#Swap two elements in a list by their indices.
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

## Tuple based practice problem :

In [173]:
#Create a tuple with integers from 1 to 5.

my_tuple=(1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [177]:
#Access the third element of a tuple.

my_tuple=(1,2,3,4,5)

print(my_tuple[2])

3

In [181]:
#Find the length of a tuple without using the len() function.
my_tuple = (10, 20, 30, 40, 50)

count=0
for  x in my_tuple:
    count+=1
    
print("the length of the tuple:",count)

the length of the tuple: 5

In [182]:
#Count the occurrences of an element in a tuple.
my_tuple = (10, 20, 30, 40, 50,30)

element=30

count=0

for x in my_tuple:
    if x == element:
        count+=1
print("the occurence:",count)

the occurence: 2

In [184]:
#Find the index of the first occurrence of an element in a tuple.
my_tuple = (10, 20, 30, 20, 40, 50)
occurence=my_tuple.index(30)
print("the occurence of 30:",occurence)

the occurence of 30: 2

In [190]:
#Check if an element exists in a tuple.

my_tuple = (10, 20, 30, 20, 40, 50)
element=30
if element in  my_tuple:
        print("the element exist in the list")
        
else:
        print("the element does not exist in the list")

the element exist in the list

In [191]:
#Convert a tuple to a list.
my_tuple = (10, 20, 30, 20, 40, 50)

my_list= list(my_tuple)

print(my_list)

[10, 20, 30, 20, 40, 50]

In [192]:
#Convert a list to a tuple.
my_list = [10, 20, 30, 40, 50]

my_tuple=tuple(my_list)

print(my_tuple)

(10, 20, 30, 40, 50)

In [199]:
#Unpack the elements of a tuple into variables.
my_tuple = (10, 20, 30)

for x in my_tuple:
    print("var",x)

var 10
var 20
var 30

In [216]:
#Create a tuple of even numbers from 1 to 10.
even_list = [x for x in range(2,11,2)]

even_tuple=tuple(even_list)
print(even_tuple)

(2, 4, 6, 8, 10)

In [219]:
#Create a tuple of odd numbers from 1 to 10.
odd_list=[x for x in range(1,11,2)]

odd_tuple=tuple(odd_list)
print(odd_tuple)

(1, 3, 5, 7, 9)

In [221]:
# Concatenate two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated= tuple1+tuple2

print(concatenated)

(1, 2, 3, 4, 5, 6)

In [222]:
#Repeat a tuple three times.
tuple1 = (1, 2, 3)

tuple3= tuple1 * 3
print(tuple3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [223]:
#Check if a tuple is empty.
empty_tuple=()
tuple1 = (1, 2, 3)

if not empty_tuple:
    print("the tuple is not empty")
else :
    print("the tuple is empty")

the tuple is not empty

In [224]:
#Create a nested tuple.
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [226]:
#Access the first element of a nested tuple.
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

print(nested_tuple[0])

(1, 2, 3)

In [227]:
#Create a tuple with a single element.
single_element_tuple = (7)

print(single_element_tuple)

7

In [228]:
#Compare two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)


print("tuple1 == tuple2:", tuple1 == tuple2)  
print("tuple1 != tuple2:", tuple1 != tuple2)  
print("tuple1 < tuple2:", tuple1 < tuple2)    
print("tuple1 <= tuple2:", tuple1 <= tuple2)  
print("tuple1 > tuple2:", tuple1 > tuple2)    
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [234]:
#Delete a tuple.
my_tuple = (1, 2, 3, 4, 5)

del(my_tuple)
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [237]:
#Slice a tuple.
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

my_tuple=my_tuple[2:6]
print(my_tuple)

(3, 4, 5, 6)

In [238]:
#Find the maximum value in a tuple.
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

my_tuple=max(my_tuple)

print(my_tuple)

10

In [239]:
#Find the minimum value in a tuple.
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

my_tuple=min(my_tuple)

print(my_tuple)

1

In [242]:
# Convert a string to a tuple of characters.
my_string = "Hello, World!"

my_tuple=tuple(my_string)

print(my_tuple)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [245]:
#Convert a tuple of characters to a string
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# using the join method
my_string="".join(tuple_of_characters)

print(my_string)

Hello World!

In [246]:
#Create a tuple from multiple data types.
mixed_tuple = (1, "hello", 3.14, True)

# Printing the tuple
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [248]:
#Check if two tuples are identical.
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

same1 = tuple1==tuple2
same2 = tuple1 == tuple3

print("two tuples are identical:",same1)
print("two tuples are identical:",same2)

two tuples are identical: True
two tuples are identical: False

In [250]:
#Sort the elements of a tuple.
my_tuple = (5, 2, 8, 1, 3)

my_tuple=sorted(my_tuple) # tuple do not have sort it have --sorted--

print(my_tuple)

[1, 2, 3, 5, 8]

In [254]:
#Convert a tuple of integers to a tuple of strings.
tuple_of_integers = (1, 2, 3, 4, 5)

tuple_string= tuple(str(tuple_of_integers))
print(tuple_string)

('(', '1', ',', ' ', '2', ',', ' ', '3', ',', ' ', '4', ',', ' ', '5', ')')

In [259]:
#Convert a tuple of strings to a tuple of integers.
tuple_of_strings = ('10', '20', '30', '40', '50')

tuple_list= tuple(list(tuple_of_strings))

print(tuple_list)

('10', '20', '30', '40', '50')

In [260]:
#Merge two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

merge_tuple= tuple1+tuple2

print(merge_tuple)

(1, 2, 3, 4, 5, 6)

In [261]:
#Flatten a nested tuple.
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [263]:
#Create a tuple of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [264]:
#Check if a tuple is a palindrome.
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [265]:
#Create a tuple of squares of numbers from 1 to 5.
square_tuple=tuple(x**2 for x in range(1,6))

print(square_tuple)

(1, 4, 9, 16, 25)

In [273]:
#Filter out all even numbers from a tuple.
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

for x in original_tuple:
    
    if x % 2 != 0:
        print((x))

1
3
5
7
9

In [277]:
#Multiply all elements in a tuple by 2.
original_tuple = (1, 2, 3, 4, 5)

multiply = tuple(2*x for x in original_tuple)

print(multiply)

(2, 4, 6, 8, 10)

In [278]:
#Create a tuple of random numbers.
import random

random_tuple= tuple(random.randint(1,100) for i in range(10))

print(random_tuple)

(74, 60, 93, 48, 4, 93, 69, 87, 52, 50)

In [280]:
#Check if a tuple is sorted.
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [281]:
#Rotate a tuple to the left by n positions.
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [282]:
#Rotate a tuple to the right by n positions.
def rotate_tuple_right(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [283]:
#Create a tuple of the first 5 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  # Continue generating Fibonacci numbers until the list has n elements
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

# Call the generate_fibonacci function to create a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

# Print the resulting tuple
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [284]:
#Create a tuple from user input.
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas: 1,2,3,4,5,6
User input tuple: ('1', '2', '3', '4', '5', '6')

In [285]:
#wap two elements in a tuple.
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [286]:
#Reverse the elements of a tuple.
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [287]:
#Create a tuple of the first n powers of 2.
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [288]:
#Find the longest string in a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

In [289]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the longest string
print("shortest string:", shortest_string)

shortest string: kiwi

In [290]:
#Create a tuple of the first n triangular numbers.
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [291]:
#Check if a tuple contains another tuple as a subsequence.
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [292]:
#Create a tuple of alternating 1s and 0s of length n.
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

## Set based problems:

In [3]:
#Create a set with integers from 1 to 5
my_set={1,2,3,4,5,}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [5]:
#dd an element to a set

my_set={1,2,3,4,5}

my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [6]:
#Remove an element from a set.

my_set={1,2,3,4,5,6}

my_set.remove(5)

print(my_set)

{1, 2, 3, 4, 6}

In [7]:
#Check if an element exists in a set.
my_set={1,2,3,4,5,6}

element= 5

if element in my_set:
    print("the element exist in set")
else:
    print("the element does not exist in set")

the element exist in set

In [8]:
#Find the length of a set without using the len() function
my_set={1,2,3,4,5,6,7,8,9}

count=0

for i in my_set:
    count+=1
    
print("the length of set is:",count)

the length of set is: 9

In [9]:
#Clear all elements from a set.
my_set={1,2,3,4,5,6,7,8,9}

my_set.clear()

print(my_set)

set()

In [16]:
#Create a set of even numbers from 1 to 10
even_number_set=set()

for i in range(0,11):
    if i % 2 ==0 :
        even_number_set.add(i)

print(even_number_set)

{0, 2, 4, 6, 8, 10}

In [17]:
#Create a set of odd numbers from 1 to 10
odd_number_set=set()

for i in range(1,11):
    if i % 2 !=0:
        odd_number_set.add(i)
print(odd_number_set)

{1, 3, 5, 7, 9}

In [21]:
#Find the union of two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1.union(set2)) # using the union keywords

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
#Find the intersection of two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

intersect = set1.intersection(set2)

print(intersect)

{3, 4, 5}

In [24]:
#Find the difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

difference = set1.difference(set2)

print(difference)

{1, 2}

In [25]:
#Check if a set is a subset of another set.
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

subset= set1.issubset(set2)

print(subset)

True

In [27]:
#Check if a set is a superset of another set.
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

superset= set2.issuperset(set1)

print(superset)

True

In [29]:
#Create a set from a list
my_list = [2, 4, 1, 4, 3, 2, 5]

my_set= set(my_list )

print(my_set)

{1, 2, 3, 4, 5}

In [31]:
#Convert a set to a list.
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

my_list= list(my_set)

print(my_list)

[1, 2, 3, 4, 5, 6, 9]

In [33]:
#Remove a random element from a set.
import random
my_set = {1, 2, 3, 4, 5}

random_element = random.choice(list(my_set))

my_set.remove(random_element)

print(my_set)

{1, 2, 4, 5}

In [35]:
#Pop an element from a set.

my_set = {1, 2, 3, 4, 5}

my_set.pop()

print(my_set)

{2, 3, 4, 5}

In [3]:
#Check if two sets have no elements in common.
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

common_element= set1.intersection(set2)

if not common_element :
    print("the sets has no common element")
else:
    print("the set has a common element")

the sets has no common element

In [4]:
#Find the symmetric difference between two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the {{^}} operator
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [6]:
#Update a set with elements from another set.
set1= {1,2,3,4,5,6}
set2= {7,8,9,0}

set1.update(set2)
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7]:
#Create a set of the first 5 prime numbers.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [10]:
#Check if two sets are identical.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}


if set1 ==set2:
    print("both set are identical")
else:
    print("both set are not identical")

both set are identical

In [13]:
#Create a frozen set
elements = [1, 2, 3, 4, 5]

frozen_set= frozenset(elements) # frozen set is given by using the --frozenset-- keyword

print(frozen_set)

frozenset({1, 2, 3, 4, 5})

In [16]:
#Check if a set is disjoint with another set.
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

disjoin= set1.isdisjoint(set2) # check by using --isdisjoint-- keyword

print(disjoin)

True

In [18]:
#Create a set of squares of numbers from 1 to 5.
square_set=set()

for n in range(1,6):
    square= n ** 2 
    
    square_set.add(square)
    
print(square_set)

{1, 4, 9, 16, 25}

In [21]:
#Filter out all even numbers from a set.
original_set = {1, 2, 3, 4, 5}

even_numbers_set = set()

for i in original_set:
    if i % 2 ==0:
        
        even_numbers_set.add(i)
        
print(even_numbers_set)

{2, 4}

In [23]:
#Multiply all elements in a set by 2.
original_set = {1, 2, 3, 4, 5}

multiply_set=set()

for i in original_set:
    x =i *2
    
    multiply_set.add(x)
    
print(multiply_set)

{2, 4, 6, 8, 10}

In [26]:
#Create a set of random numbers.
import random

random_range=5

random_set=set()

for i in range (random_range):
    num= random.randint(1,100)
    
    random_set.add(num)

print(random_set)

{99, 3, 23, 94, 63}

In [27]:
#Check if a set is empty.

myset=set()

if not myset:
    print("the set is empty")
else:
    print("the set is not empty")

the set is empty

In [32]:
#Create a nested set (hint: use frozenset).
set1={1,2,3,4,5}
set2={6,7,8,9,0}

frozen1= frozenset(set1)
frozen2= frozenset(set2)

nested_set={frozen1,frozen2}

print(nested_set)

{frozenset({1, 2, 3, 4, 5}), frozenset({0, 6, 7, 8, 9})}

In [33]:
#Remove an element from a set using the discard method.
my_set = {1, 2, 3, 4, 5}

my_set.discard(3)

print(my_set)

{1, 2, 4, 5}

In [34]:
#Compare two sets.
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [35]:
#Create a set from a string.
str="hello world"

myset=set(str)

print(myset)

{'h', ' ', 'w', 'r', 'o', 'l', 'd', 'e'}

In [42]:
#Convert a set of strings to a set of integers.
string_set = {"123", "456", "789"}

integer_set=set()

for i in string_set :
    
    integer= int(i)
    
    integer_set.add(integer)
    
print(integer_set)

{456, 123, 789}

In [46]:
#convert a set of integers to a set of strings.
integers_set = {1, 2, 3, 4, 5}

string_set=set()

for num in integers_set:
    
    int_value= str(num)
    
    string_set.add(int_value)
    
print(string_set)

TypeError: 'str' object is not callable

In [47]:
#Create a set from a tuple.
input_tuple = (1, 2, 3, 2, 4, 5, 1)

myset=set(input_tuple)

print(my_set)

{1, 2, 4, 5}

In [49]:
#Convert a set to a tuple.
input_set = {1, 2, 3, 4, 5}

mytuple=tuple(input_set)

print(mytuple)

(1, 2, 3, 4, 5)

In [53]:
#Find the maximum value in a set.
input_set = {1, 2, 3, 4, 5}

print("the maximun value in set",max(input_set))

the maximun value in set 5

In [52]:
#Find the minimum value in a set.
input_set = {1, 2, 3, 4, 5}

print("the minimun value in set",min(input_set))

the minimun value in set 1

In [55]:
# Create a set from user input.
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):
> 12355
> sd
> hh
> h
> j
> j
> 5
> 5
> 5
> done
Final set: {'12355', 'hh', 'h', 'sd', 'j', '5'}

In [56]:
#Check if the intersection of two sets is empty.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

In [57]:
#Create a set of the first 5 Fibonacci numbers.
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [58]:
#Remove duplicates from a list using sets.
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

unique= set(original_list)

unique_list=list(unique)

print(unique_list)

[2, 4, 6, 8, 10, 12, 14]

In [59]:
#Check if two sets have the same elements, regardless of their count.
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [60]:
#Create a set of the first n powers of 2
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

{1, 2, 4, 8, 16}

In [61]:
#Find the common elements between a set and a list.
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [62]:
#Create a set of the first n triangular numbers.:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n: 5
The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

In [63]:
#Check if a set contains another set as a subset.
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [64]:
#Create a set of alternating 1s and 0s of length n.
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

{0, 1}

In [65]:
#Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}